flows.json
[
    {
        "id": "5c391cb3d613a820",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b9e6fe9.d44e3",
        "type": "ui_group",
        "name": "SensorData",
        "tab": "a1882c32.fc82a",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "a1882c32.fc82a",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "3c9ef6853c8da42b",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cb83517b.a5e1e",
        "type": "debug",
        "z": "5c391cb3d613a820",
        "name": "Display msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 660,
        "y": 180,
        "wires": []
    },
    {
        "id": "3be047fd.f44378",
        "type": "inject",
        "z": "5c391cb3d613a820",
        "name": "msg.payload Trigger",
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 181.99988555908203,
        "y": 271.19997215270996,
        "wires": [
            [
                "deecd2bb.11469"
            ]
        ]
    },
    {
        "id": "deecd2bb.11469",
        "type": "iot-simulator",
        "z": "5c391cb3d613a820",
        "name": "",
        "options": [
            {
                "label": "Temperature",
                "value": "30",
                "range": "10"
            },
            {
                "label": "Air_Quality",
                "value": "40",
                "range": "10"
            },
            {
                "label": "UV_Index",
                "value": "6",
                "range": "5"
            }
        ],
        "preOptions": [
            {
                "label": "Temperature",
                "value": "30",
                "range": "10"
            },
            {
                "label": "Air_Quality",
                "value": "40",
                "range": "10"
            },
            {
                "label": "UV_Index",
                "value": "6",
                "range": "5"
            }
        ],
        "timestamp": true,
        "allinone": false,
        "optionEdited": true,
        "x": 400.99999237060547,
        "y": 273.0666723251343,
        "wires": [
            [
                "cb83517b.a5e1e",
                "c077ade6.ec0a",
                "c36cb21ef8ba87bc"
            ]
        ]
    },
    {
        "id": "c077ade6.ec0a",
        "type": "function",
        "z": "5c391cb3d613a820",
        "name": "Payload Split",
        "func": "var msg1 = null\nif ( msg.payload[\"Temperature\"] !== undefined) {\n   msg1 = {};\n   msg1.payload = msg.payload[\"Temperature\"];\n}\n\nvar msg2 = null\nif ( msg.payload[\"Air_Quality\"] !== undefined){\n   msg2 = {};\n   msg2.payload = msg.payload[\"Air_Quality\"];\n}\n\nvar msg3 = null\nif ( msg.payload[\"UV_Index\"] !== undefined){\n   msg3 = {};\n   msg3.payload = msg.payload[\"UV_Index\"];\n}\nreturn [msg1, msg2, msg3];",
        "outputs": 3,
        "noerr": 0,
        "x": 563.9999771118164,
        "y": 324.26664638519287,
        "wires": [
            [
                "18af797e.554067"
            ],
            [
                "661f5e00.71c9b4"
            ],
            [
                "9e42205.31f5ae"
            ]
        ]
    },
    {
        "id": "18af797e.554067",
        "type": "ui_gauge",
        "z": "5c391cb3d613a820",
        "name": "Temperature",
        "group": "5b9e6fe9.d44e3",
        "order": 0,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}} °C",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 340,
        "wires": []
    },
    {
        "id": "661f5e00.71c9b4",
        "type": "ui_chart",
        "z": "5c391cb3d613a820",
        "name": "Air Quality",
        "group": "5b9e6fe9.d44e3",
        "order": 1,
        "width": "4",
        "height": "4",
        "label": "Air Quality",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 2,
        "x": 730,
        "y": 400,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9e42205.31f5ae",
        "type": "ui_gauge",
        "z": "5c391cb3d613a820",
        "name": "",
        "group": "5b9e6fe9.d44e3",
        "order": 2,
        "width": "4",
        "height": "4",
        "gtype": "gage",
        "title": "UV Index",
        "label": "units",
        "format": "{{value}}",
        "min": "1",
        "max": "12",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "6",
        "seg2": "9",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "c36cb21ef8ba87bc",
        "type": "mqtt-plus out",
        "z": "5c391cb3d613a820",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "x": 710,
        "y": 240,
        "wires": [
            []
        ]
    }
]